<strong>
    Pedido de Orçamento - JBS Tanques
</strong>
<br/>
<p>Prezado(a) {{ name }},</p>
<p>
    Segue em anexo a proposta de orçamento conforme solicitado.
</p>
<p>Qualquer dúvida, estaremos à disposição.</p>
<br/>
<p>Atenciosamente,</p>
<p>JBS Tanques IND. COM. LTDA</p>
<a href="tel:6233161414">(62) 3316-1414</a>
