<strong>
  Seja bem vindo ao Sistema de Orçamentos da JBS
</strong>

<p>
  Olá {{ name }},
</p>
<p>
  Você agora pode ter acesso ao sistema utilizando as
  seguintes credenciais:
</p>
<ul>
  <li>Login: {{ username }}</li>
  <li>Senha: {{ password }}</li>
</ul>

<p>
  * Recomendamos que você troque sua senha assim que
  acessar o sistema pela primeira vez, colocando uma
  nova senha de sua preferência.
</p>
